{% extends 'base.html' %}
{% load static %}
{% block content %}


<div class="container mt-4">
    <div class="row m-1   d-flex justify-content-between">
        <div class="col-md-9">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href=""  class="text-decoration-none">Income</a></li>
                  <li class="breadcrumb-item active" aria-current="page">My Income</li>
                </ol>
            </nav>
        </div>
        <div class="col-md-2   d-flex justify-content-end">
            <a href="{% url 'add-income' %}" class="btn btn-primary btn-lg">Add Income</a>
        </div>

    </div>
    <div class="mt-4">
        {% include 'partials/_messages.html' %}
        <div class="d-flex py-2 align-items-center">
            <img src="{% static 'icons/filter.png' %}" style="height:16px;width:16px"/>
            <span  class="mx-1" onclick="document.querySelector('#filterDiv').toggleAttribute('hidden')">Add Filter</span>
            <div class="my-3" id="incomesFilterTags">
            </div>
        </div>
        <div class="bg-body-tertiary p-2 position-relative" id="filterDiv" hidden>
            <button type="button" onclick="document.querySelector(`#filterDiv`).toggleAttribute('hidden')" class="btn-close position-absolute top-0 end-0 m-2" style="height:5px;width:5px" aria-label="Close"></button>
            <form class="row px-2 g-0" id="apply-filter-incomes" method="post"> 
                {% csrf_token %}
                <div class="col g-0 mx-2">
                    <label class="my-2">
                        Amount Range:
                    </label>
                    <div class="row g-0">
                        <div class="col-5">
                            <input type="number" name="f_gt_amount" id="f_gt_amount_income" class="rounded-left w-100 p-2 border-0" placeholder="From"/>
                        </div>
                        <span class="bg-white m-0 p-1" style="width:20px">-</span>
                        <div class="col-5">
                            <input type="number" name="f_lt_amount" id="f_lt_amount_income" value="{{fieldValues.f_lt_amount}}" class="w-100 p-2 border-0" placeholder="To"/>
                        </div>
                    </div>
                </div>
                
                <div class="col col-2 g-0 mx-2">
                    <label class="my-2">
                        Source:
                    </label>
                    <div class="row g-0">
                        <div class="dropdown" id="sourceDropDownMenuParent">
                            <a class="btn btn-secondary dropdown-toggle" role="button" id="sourceDropDownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Sources
                            </a>
                            <div class="dropdown-menu" aria-labelledby="sourceDropDownMenu" id="sourceMenu">
                                {% for source in sources %}
                                    <a class="dropdown-item"  type="button"><input type="checkbox" name="{{source}}" id="f_so_{{source}}" value="{{source}}" class="mx-1 pb-0 align-items-center" style="height:15px;width:15px"><span class="justify-center align-items-center">{{source}}</span></a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col g-0 mx-2">
                    <label class="my-2">
                        Description:
                    </label>
                    <div class="row g-0">
                        <div class="col">
                            <input type="text" name="f_description" id="f_description_income" value="{{fieldValues.f_description}}" class="rounded-left w-100 p-2 border-0" placeholder="Description"/>
                        </div>
                    </div>
                </div>
                <div class="col g-0 mx-2">
                    <label class="my-2">
                        Date Range:
                    </label>
                    <div class="row g-0">
                        <div class="col-md-6">
                            <input type="date" name="f_gt_date" id="f_gt_date_income" class="rounded-left w-100 p-2 border-0"  value="{{fieldValues.f_gt_date}}" placeholder="Date"/>
                        </div>
                        <span class="bg-white m-0 p-1" style="width:20px">-</span>
                        <div class="col-md-5">
                            <input type="date" name="f_lt_date" id="f_lt_date_income" class="w-100 p-2 border-0"  value="{{fieldValues.f_lt_date}}" placeholder="Date"/>
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-8"></div>
                    <div class="col-md-4">
                        <input type="submit" name="submit" class="btn btn-primary float-end" id="submit-filter" value="Apply Filter"/>
                    </div>
                </div>
            </form>
        </div>
        <table class="table table-bordered mt-4 table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Amount ({{currency}})</th>
                    <th>Source</th>
                    <th>Description</th>
                    <th colspan="2">Date</th>
                </tr>
            </thead>
            <tbody id="incomes-table">
                {% for income in incomes %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{income.amount}}</td>
                    <td>{{income.source}}</td>
                    <td>{{income.description}}</td>
                    <td>{{income.date}}</td>
                    <td><a href="{% url 'edit-income' income.id %}" class="btn btn-primary btn-small">Edit</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


<!-- <div class="container">
    {% include 'partials/_messages.html' %}
    {% if income.count %}
    <div class="row">
        <div class="col-md-8"></div>
        <div class="col md-4">
            <div class="form-group">
                <input type="text" class="form-control" id="searchField" placeholder="Search">
            </div>    
        </div>
    </div>

    
     <div class="app-table">
        <table class="table table-stripped table-hover">
            <thead>
                <tr>
                    <th>Amount ({{currency}})</th>
                    <th>Category</th>
                    <th>Description</th>
                    <th>Date</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for expense in page_obj %}
                    <tr>
                        <td>{{expense.amount}}</td>
                        <td>{{expense.category}}</td>
                        <td>{{expense.description}}</td>
                        <td>{{expense.date}}</td>
                        <td><a href="{% url 'edit-expense' expense.id %}" class="btn btn-secondary btn-small">Edit</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>


    <div class="table-output">
        <table class="table table-stripped table-hover">
            <thead>
                <tr>
                    <th>Amount (CURRENCY)</th>
                    <th>Category</th>
                    <th>Description</th>
                    <th>Date</th>
                    <th></th>
                </tr>
            </thead>
            <tbody class="table-body">
 
            </tbody>
        </table>
    </div>


    <div class="pagination-container">
        <div>
            Showing page {{page_obj.number}} of {{ page_obj.paginator.num_pages }}
        </div>
        <nav aria-label="...">  
            <ul class="pagination align-right float-right mr-auto">
              {% if page_obj.has_previous %}
                <li {% if page_obj.number == 1 %} class="page-item disabled" {% endif %}>
                    <a class="page-link" href="?page{{page_obj.previous_page_number}}">Previous</a>
                </li>
              {% endif %}         
              {% if page_obj.has_next %}
              <li class="page-item">
                <a class="page-link" href="?page={{page_obj.next_page_number}}">Next</a>
              </li>
              {% endif %}
            </ul>
          </nav>
    </div>

    {% endif %}
</div>    -->
{% endblock content %}

 