{% extends 'base_auth.html' %}

{% block content %}

<div class="card">
    <div class="card-body">
        <div class="card-title py-3">
            <h4>Login to your account</h4>
        </div>
        <form action="{% url 'rest-password' %}" method="post">
            {% csrf_token %}
            {% include 'partials/_messages.html' %}
            <div class="form-group mb-3">
                <input type="text" name="username" placeholder="Username" id="usernameField" class="form-control" value="{{fieldValues.username}}" required/>
            </div>
            <div class="form-group  mb-3">
                <input type="password" name="password" placeholder="Password" id="passwordField" class="form-control" required/>
                <div class="pt-3 flex">
                    <input type="checkbox" name="rememberme" class="mx-1 pb-0 align-items-center" style="height:15px;width:15px" value="1"><span class="justify-center align-items-center"> Remember me</span>
                    <small class="float-end showPasswordToggle align-items-center" value="visible"><img class="mx-2" style="height:22px;width:22px" id="visibleIcon" src="{% static 'icons/visible.png'%}" alt="visible"/></small>    
                </div>
            </div>
            <div class="flex">
                <input type="submit" value="Login" class="btn-block btn btn-primary mt-4" id="submitBtn"/>
                <a type="submit" value="Reset Password" href="authentication/reset-password" class="btn-block btn btn-primary mt-4" id="resetPasswordBtn"></a>
            </div>
        </form>
    </div>
</div>

{% endblock content %}